.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Menu-header {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #332d2d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  .Menu-header {
    flex-direction: column;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #332d2d;
}

.App-bgcolor {
  background-color: #f4f2ed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Paper {
  max-height: 300px;
  max-width: 300px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.Paper-view {
  height: 90%;
  width: 90%;
  align-items: flex-start;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.PortfolioPaper {
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.Contact-button {
  max-width: 50%;
  font-family: 'Yomogi';
}

.MuiTextField-root > label {
 font-family: 'Yomogi';
}

.MuiTextField-root > .MuiFormLabel-root.Mui-focused {
  font-family: 'Yomogi';
}

@font-face {
  font-family: 'Yomogi';
  src: local('Yomogi'), url(./assets/fonts/Yomogi-Regular.ttf) format('truetype');
}